form, h1{
    display: flex;
    justify-content: center;
    align-items: center;    
}

form {
    flex-direction: column;
}

form label {
    font-size: 20px;
    margin-top: 15px;
}

form input {
    width: 500px;
    height: 35px;
}

textarea {
    width: 500px;
    height: 100px;
}

.button {
    background-color: #333;
    color: #F5F5F5;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.error li{
    color: red;
    list-style: none;
}